<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/styles/main.css"/>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                    <a class="btn btn-outline-primary btn-sm" href="/campgrounds">Campgrounds</a>
                </div>
                <div class="btn-group">
                    <% if(!currentUser){ %>
                        <a class="btn btn-outline-primary" href="/login">Login</a>
                        <a class="btn btn-outline-primary" href="/register">Sign Up</a>
                    <% } else { %>
                        <a class="btn btn-outline-primary" href="#">Logged in as <%= currentUser.username %></a>
                        <a class="btn btn-outline-primary" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </nav>
        <div class="container">
            <% if (error && error.length > 0) { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <% if (success && success.length > 0) { %>
                <div class="alert alert-success"><%= success %></div>
            <% } %>
        </div>