<% include ./partials/header %>

<div class="container text-center col-md-2">
    <form class="auth-form form-group" action="/login" method="POST">
        <h1>Login</h1>
        <input class="form-control" type="text" name="username" placeholder="Username">
        <input class="form-control inline" type="password" name="password" placeholder="Password">
        <button class="btn btn-primary">Log In</button>
    </form>
</div>
<% include ./partials/footer %>