<% include ./partials/header %>

<div class="container text-center col-md-2">
    <form class="auth-form form-group" action="/register" method="POST">
        <h1>Sign Up</h1>
        <input class="form-control" type="text" name="username" placeholder="Username">
        <input class="form-control" type="password" name="password" placeholder="Password">
        <button class="btn btn-primary">Sign Up</button>
    </form>
</div>

<% include ./partials/footer %>